<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to "oMessage Boards", root_path, {class: 'navbar-item'} %>

    <button class="button navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu" id="navbarExampleTransparentExample">
    <div class="navbar-start">
    	<% if user_signed_in? %>
  			<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
  		<% else %>
  			<%= link_to "Sign In", new_user_session_path, class: "navbar-item" %>
  		<% end %>
    </div>
  </div>
</nav>

