<div class="definitions">
	<p>
		Definitions will reside here for the application development process.
	</p>

	<div>
		<p>
			<strong>MODEL</strong>
		</p>
		<br/>
		<p>
			<strong>POST</strong><br/>
			- type: {a, b, g}<br/>
			- title: string<br/>
			- content: text<br/>
			- relative_id: integer<br/>
			- user_id: integer
		</p>
	</div>
</div>