<div class="Thread__alpha">
	<div class="Thread__alpha_title">
		<i class="fa fa-angle-double-down"></i> 
			Top level post goes here as Thread__alpha (a)
		<div class="Thread__alpha_text">
			This is the text contents of the alpha level thread. The only part of a thread which can contain a title is the alpha. Text in the alpha block is limited to 1,028 characters.
		</div>
	</div>

	<div class="Thread__beta">
		<div class="Thread__content">
			<i class="fa fa-angle-double-right"></i>
			Secondary responses and subsequent children can only have text, title attributes can only be defined for alpha level threads. Threaded response mechanics allow for infinite beta and beta gamma level responses.
		</div>		
	</div>
	<div class="Thread__gamma">
		<div class="Thread__content">
			<i class="fa fa-angle-double-right"></i>
			All threads that are below the alpha thread, or child threads, must adhere to 256 characters maximum.
		</div>
	</div>
	<div class="Thread__gamma">
		<div class="Thread__content">
			Tertiary responses are logged as Thread__gamma (g)
		</div>
	</div>
</div>