
html, body {
	font-family: sans-serif;
}
h1 {
	color: #313131;
	font-weight: 700;
}
h2 {
	color: #313131;
	font-weight: 700;
	font-size: 22px;
}
.alerts {
	background-color: white;
	border: solid 1px green;
	position: relative;
	z-index: 9999;
}
.container {
	padding-left: 1rem;
}
.date {
	font-weight: 700;
	font-size: .75rem;
	padding-left: 0 !important;
}
a {
	color: #2156f9e8;
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: #2156f9e8;
    box-shadow: 0 0 0 0.125em #2156f947;
}