.Thread__alpha {
	margin-top: .75em;
	border: 1px dotted black;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	font-weight: 700;
	.Thread__alpha_text {
		font-weight: 500;
	}
	.Thread__beta {
		padding-top: .25em;
		padding-left: 1.5em;
		font-weight: normal;
	}
	.Thread__gamma {
		padding-top: .25em;
		padding-left: 2.25em;
		font-weight: normal;
	}
}
