<!DOCTYPE html>
<html>
  <head>
    <title>oMessage Boards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render('shared/nav') %>
    <%= render('shared/alerts') %>

    <div class="container">
      
      <%= yield %>

    </div>
  </body>
</html>
